<a href="https://colab.research.google.com/github/Michelle-sz/Estrutura-de-Dados/blob/main/Atividade_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ESTRUTURA DE DADOS - ATIVIDADE 01**

### Michelle De Sales Silva

### Nathan Bernardo Novais De Melo

### 1.  Crie uma lista contendo os nomes de cinco cidades e exiba cada uma delas em linhas separadas usando um loop for.

In [1]:
#RESOLUÇÃO 01

cidades = ["Sao Paulo", "Belo Horizonte", "Recife", "Goiania", "Curitiba"]

for cidade in cidades:
    print(cidade)

Sao Paulo
Belo Horizonte
Recife
Goiania
Curitiba

### 2. Crie uma lista contendo os quadrados dos números de 1 a 10 usando compreensão de listas.

In [2]:
#RESOLUÇÃO 02

quadrados = [x**2 for x in range(1, 11)]
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 3. Dada a lista abaixo, escreva comandos para:

* Exibir os três primeiros elementos
* Exibir os três últimos elementos
* Exibir os elementos nas posições pares


    numeros = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
#RESOLUÇÃO 03

numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(numbers[0:3]) #Tres primeiros elementos
print(numbers[-3:]) #Tres ultimos elementos
print(numbers[1::2]) #Elementos pares

[10, 20, 30]
[80, 90, 100]
[20, 40, 60, 80, 100]

### 4. Crie uma tupla contendo cinco cores. Depois, tente modificar um dos elementos da tupla e observe o que acontece.

In [4]:
#RESOLUÇÃO 04

tupla = ("roxo", "azul", "vermelho", "branco", "preto")
tupla[1] = "amarelo"
print(tupla)

TypeError: 'tuple' object does not support item assignment

### 5. Dado o conjunto de números abaixo, escreva um código que:

* Adicione um novo número ao conjunto
* Tente adicionar um número repetido e veja o que acontece
* Remova um número do conjunto


    numeros = {2, 4, 6, 8, 10}

In [5]:
#RESOLUÇÃO 05

n = {2, 4, 6, 8, 10}

n.add(12) #adicionado numero 12.
print(n)

n.add(4) #tentando adicionar numero 4 novamente.
print(n)

n.remove(4) #numero 4 removido
print(n)

{2, 4, 6, 8, 10, 12}
{2, 4, 6, 8, 10, 12}
{2, 6, 8, 10, 12}